body {font-family: Arial, Helvetica, sans-serif;}

.img {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.img:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 200px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 1000px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)}
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: relative;
  top: 0px;
  right: 300px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

.container {
  height: 200px;
  position: relative;
  border: 3px solid green;
}

.horizontal-center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

}

body{
    font-family: 'Montserrat', sans-serif;
    line-height: 2;
}

.mt-5, .my-5{
    margin-top: 80px!important;
}

.ml-2, .mx-2 {
    margin-left: -3rem!important;
}

.mx-2 mt-5{
    margin: 0;
}

.navbar-brand{
    display: inline-block;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-right: 1rem;
    font-size: 1.2rem;
    line-height: inherit;
    white-space: nowrap;
}

a.navbar-brand.col-sm-3.col-md-2.mr-0 {
    /* color: blue; */
    text-align: center;
    transition-duration: 0.4s;
}

a.navbar-brand.col-sm-3.col-md-2.mr-0:hover {
    color: rgb(255, 255, 255);
    background-color: rgba(58, 83, 39, 0.71);
}

.bg-dark{
    background-color: #9e9155d7!important;
}

.p-0 {
    padding: 10!important;
}

.h2{
    font-size: 1.4rem;
    position: relative;
    right: auto;
    left: auto;
    margin-top: 5px;
    font-weight: bold;
    color: rgba(58, 83, 39, 0.879);
}

.col-4{
    max-width: 200%;
}

.table{
    width: 100%;
    font-size: 1rem;
    font-weight: normal;
    background-color: rgba(58, 83, 39, 0.439);
    color: rgb(255, 255, 255);
}

input{
    height: 30px;
    margin-left: 5px;
    margin-right: 30px;
}

label {
    display:inline-block;
    margin: 0;
    padding-top: 0;
    padding-bottom: 20px;
    padding-right: 0px;
    padding-left: 0px;
    font-style:normal;
    font-weight:initial;
    font-size: 1rem;
    color: #695709;
}

button{
    display: inline-block;
    padding: 10px 10px;
    border-radius:8px;
    background-color:rgba(58, 83, 39, 0.71);
    color: rgb(255, 255, 255);
    border: none;
    margin-right: 20px;
    font-size: 1rem;
    width: 250px;
}

button:hover {
    background-color: #b89b1c!important;
    color: white;
}

#missionData{
    margin-top: 20px;
}

.fb{
    max-width: 200px;
    margin-top: -80px;
}

.logofb{
    max-height: 50px;
    margin-right: 220px;
}

hr{
    border-top-width: 4px;
    border-top-style: solid;
    border-top-color: rgba(58, 83, 39, 0.71);
    margin-top: -10px;
}

.hr_2{
    border-top-width: 2px;
    border-top-style: solid;
    border-top-color: rgba(58, 83, 39, 0.71);
    margin-top: 10px;
}

.title_table{
    font-size: 1.2rem;
    font-weight:normal;
    color: #096943;
    margin-top: 8px;
    margin-bottom: 12px;
}

.input_place {
    width:30%;
    display: inline-block;
}

#loader {
  width: 120px;
  height: 120px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}