<!
DOCTYPE
html>
<html>
<head>
    <title>FireBot Data Collection System</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
        crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='content/map.css') }}">

</head>
<body style="zoom: 0.9;">
<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <!-- Bb added -->
    <div class="logofb">
        <!-- <h4>FireBot</h4> -->
        <img class="fb" src="../static/image2/FireBOT logo2-06.png" alt="fb">
    </div>
    <!-- Bb added -->
<!--    <a class="navbar-brand col-sm-3 col-md-2 mr-0"-->
<!--    href="#">Data Collection</a>-->
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/createMission/">Create Mission</a>
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/">Collect Data</a>
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/data/">Check Data</a>
</nav>

<div class="mx-2 mt-5">
<!--    <a href="#createMission/">Create Mission</a>-->
<!--    <a href="#">Run Mission</a>-->
    <div> <!-- class = "row" -->
        <main role="main" class="col-sm-11 mx-auto">
            <div class="d-flex justify-content-between flex-wrap
            flex-md-nowrap align-items-center pt-3 pb-2 mb-3 borderbottom">
                <h1 class="h2">Create New Missions</h1>

            </div>
            <hr>
            <div> <!-- class = "row" -->
                <!-- <div class="col-8">
                    <div class="w-100" style="height: 75vh" id="map"></div>
                </div> -->
                <div>
                    <div style="max-height: 300px; overflow-x: unset; overflow-y: scroll">
                        <h3 class="title_table">Table of GPS coordinates</h3>
                        <table class="table" id="coordinatesTable">
                            <thead>
                            <!-- Bb added -->
                            <!-- <tr>
                                <td class="title_table">Table of GPS coordinates</td>
                                <td></td>
                                <td></td> -->
                            </tr>
                            <!-- Bb added -->
                            <tr>
                                <td>Latitude</td>
                                <td>Longitude</td>
                                <td>Altitude</td>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <hr class="hr_2">
                    <p><b>Please add waypoints</b></p>

                    <form id="formData">
                        <div class="input_place">
                            <label for="formlat">Latitude:</label>
                            <input type="number" id="formlat" name="formlat" min = -90 max = 90 step = ".000001"  required />
                        </div>
                        <div class="input_place">
                            <label for="formlong">Longitude:</label>
                            <input type="number" id="formlong" name="formlong" min = -180 max = 180 step = ".000001"  required />
                        </div>
                        <div class="input_place">
                            <label for="formalt">Altitude:</label>
                            <input type="number" id="formalt" name="formalt" min = 0 step = ".000001"  required />
                        </div>
                        <button type="submit">Add Waypoint to Mission</button>
                        <button onclick="reset()">Reset Mission</button>
                    </form>
                    <form id="missionData">
                        <label for="missionName">Mission Name</label>
                        <input type="text" id="missionName" name="missionName" required />
                        <div>
                            <button type="submit">Confirm and Save Mission</button>
                        </div>
                    </form>
<!--                    <button onclick="saveMission()">Confirm and Save Mission</button>-->

<!--                    <p id="test">Click the "Submit" button and the form-data will be sent to a page on the-->
<!--                    server called "action_page.php".</p>-->


                </div>
            </div>
<!--            <div id="images_container" class="row"></div>-->
        </main>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDzFXegu2gBl6Nxp9Z4iB1pphHDm_ppm4Q&callback=initMap"-->
<!--async defer></script>-->
<script>
<!--    var map;-->
<!--    var area;-->
<!--    var path;-->
<!--    function initMap() {-->
<!--        map = new google.maps.Map(document.getElementById('map'), {center: {lat: 52.654, lng: -6.654},zoom: 16, mapTypeId: 'satellite'});-->
<!--        area = new google.maps.Polygon({-->
<!--            map: map,-->
<!--            strokeColor: "#FF0000",-->
<!--            strokeOpacity: 1.0,-->
<!--            strokeWeight: 2,-->
<!--            fillColor: "#FF0000",-->
<!--            fillOpacity: 0.10,-->
<!--            editable: true,-->
<!--            draggable: false,-->
<!--            clickable: true-->
<!--            });-->
<!--        area.setMap(map);-->
<!--        map.addListener('click', addLatLng);-->
<!--    }-->


<!--    function addLatLng(event) {-->
<!--        path = area.getPath();-->
<!--        if(path.length > 3) {-->
<!--&lt;!&ndash;        alert('You Can Only Select Four Coordinates');&ndash;&gt;-->
<!--        } else {-->
<!--             let latAndLong = event.latLng;-->
<!--             path.push(latAndLong);-->
<!--             console.log(path);-->
<!--             $('#coordinatesTable tbody').append(`-->
<!--             <tr>-->
<!--                 <td>${latAndLong.lat()}</td>-->
<!--                 <td>${latAndLong.lng()}</td>-->
<!--             </tr>`);-->
<!--        }-->

<!--    }-->
    var GPSLocations = [];

    const form = document.getElementById('formData');
    form.addEventListener('submit', addToTable);

    function addToTable(event) {
          event.preventDefault();
          const data = new FormData(event.target);
          const formJSON = Object.fromEntries(data.entries());

          let lat = document.getElementById('formlat').value;
          let long = document.getElementById('formlong').value;
          let alt = document.getElementById('formalt').value;

         $('#coordinatesTable tbody').append(`
         <tr>
             <td>`+lat+`</td>
             <td>`+long+`</td>
             <td>`+alt+`</td>
         </tr>`);
         GPSLocations.push({
            "lat":lat,
            "lng":long,
            "alt":alt});
         console.log(GPSLocations);

    }

    function reset() {
        $('#coordinatesTable tbody').empty();
        GPSLocations = [];
        console.log(GPSLocations);
    }

    function landing() {
        $.ajax({
            url: "land",
            dataType: "json",
            type: "GET"})
    }

    const missionForm = document.getElementById('missionData');
    missionForm.addEventListener('submit', saveMission);
    function saveMission() {
<!--        if(path.length < 4){-->
<!--            alert('You Must Select Four Coordinates');-->
<!--        } else {-->
<!--            let path = area.getPath();-->
<!--            let coords = [];-->
<!--            for(let index in path["i"]) {-->
<!--                let co = path["i"][index];-->
<!--                let lat = co.lat();-->
<!--                let lng = co.lng();-->
<!--                let coord = {-->
<!--                    "lat": lat,-->
<!--                    "lng": lng-->
<!--            };-->
<!--            coords.push(coord)-->
<!--        }-->
<!--        let alt = $('#groundCover').val();-->
<!--        let data = {};-->
<!--        console.log(coords);-->
<!--        data['coordinates'] = coords;-->
<!--        data['altitude'] = alt;-->
        let data = {};
        data['coordinates'] = GPSLocations;
        data['mission'] = document.getElementById('missionName').value;
        if (GPSLocations.length == 0) {
            alert('No waypoint in the mission!')
        } else {
            $.ajax({
                url: "saveCoords",
                data: JSON.stringify(data),
                contentType: "json",
                type: "POST"})
        }
    }


    function check_for_images() {
        var intervalID = window.setInterval(myCallback, 5000);

        function myCallback() {
            $.ajax({
                url: "images",
                dataType: "json",
                type: "GET",
                success: function(images) {
                    display_images(images);
                },
                error: function(err) {
<!--                    alert(err);-->
                }
            });
        }
    }
<!--    check_for_images();-->


    function display_images(img_data) {
        let images_container = document.getElementById('images_container');
        let images = "";
        for(let index in img_data) {
            let img_url = "static/images/" + img_data[index];
            let image_template = `<div class="col-3"><img class="img-thumbnail" src="${img_url}"/></div>`;
            images += image_template;
        }
        images_container.innerHTML = images;
    }

</script>
</body>
</html>